@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  & img {
    display: block;
  }
}

:root {
  /* colors */
  --cl-text-normal: #f3f3f3;
  --cl-text-accent: #69c5fa;
  --btn-1-surface: #69c5fa;
  --btn-2-surface: #f3f3f3;
  /* sizes */
  --w-column: 200px;
  /* font */
  --fs-helname: clamp(3rem, 1.9626168224299065rem + 4.4859813084112155vw, 6rem);
  --fs-description: clamp(
    0.8rem,
    0.6789719626168225rem + 0.5233644859813082vw,
    1.15rem
  );
}

body {
  height: 100dvh;
  background-color: #232442;
  color: var(--cl-text-normal);
  font-family: 'Poppins', sans-serif;
  /** Header */
  & header {
    position: fixed;
    width: min(1200px, 70vw);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: color 200ms ease-in-out, opacity 800ms ease-in-out;
    & .logo {
      & img {
        width: 100px;
        aspect-ratio: 1;
      }
    }
    & nav {
      width: 60%;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      & a {
        position: relative;
        width: fit-content;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        &.active {
          color: var(--cl-text-accent);
          &:before {
            right: 50%;
          }
          &:after {
            left: 50%;
          }
        }
        &:hover {
          color: var(--cl-text-accent);
        }
        &:before {
          content: '';
          position: absolute;
          height: 10%;
          bottom: 0;
          left: 0;
          right: 100%;
          height: 10%;
          background-color: var(--cl-text-accent);
          transition: 300ms right ease-in-out;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          left: 100%;
          height: 10%;
          background-color: var(--cl-text-accent);
          transition: 300ms left ease-in-out;
        }
        &:hover:before,
        &:focus-visible:before {
          right: 50%;
        }
        &:hover:after,
        &:focus-visible:after {
          left: 50%;
        }
      }
    }
  }
  /** Header mobile */
  & .header-mobile {
    width: min(1200px, 100vw);
    position: fixed;
    left: 50%;
    transform: translate(-50%, -100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    place-items: center;
    background-color: #f3f3f32d;
    backdrop-filter: blur(15px);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    opacity: 0;
    transition: opacity 700ms ease-in-out, transform 700ms ease-in-out;
    & .logo {
      & .logo-mobile {
        display: block;
      }
    }
    & .menu {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      & i {
        font-size: 3rem;
        color: var(--cl-text-normal);
        transition: color 200ms ease-in-out;
        &:hover,
        &:focus-visible {
          color: var(--cl-text-accent);
        }
        &.hidden {
          display: none;
        }
      }
    }
    & nav {
      border: 1px solid red;
      width: 80%;
      height: 40vh;
      height: 40svh;
      grid-column: 1/-1;
      grid-row: 1/2;
      flex-direction: column;
      justify-content: space-evenly;
      & a {
        font-size: 2rem;
      }
    }
  }
  /** Carousel */
  & .carousel {
    position: relative;
    background-image: radial-gradient(#2b2e4f, #111126);
    height: 100vh;
    overflow: hidden; /* ? */
    /** Image Carousel */
    & .images-wrapper {
      --img-1-transform: translate(-15%, -50%) scale(1);
      --img-1-filter: blur(0);
      --img-1-opacity: 1;
      --img-2-transform: translate(90%, -50%) scale(0.6);
      --img-2-filter: blur(15px);
      --img-2-opacity: 0.5;
      --img-3-transform: translate(140%, -50%) scale(0.1);
      --img-3-filter: blur(30px);
      --img-3-opacity: 0;
      --img-4-transform: translate(-250%, -50%) scale(2);
      --img-4-filter: blur(30px);
      --img-4-opacity: 0;
      --img-5-transform: translate(-180%, -50%) scale(1.6);
      --img-5-filter: blur(15px);
      --img-5-opacity: 0.8;

      position: absolute;
      width: 100%;
      height: 100%;
      & .helmet-img {
        position: absolute;
        width: clamp(350px, 30%, 500px);
        top: 50%;
        left: 35%;
        & img {
          width: 100%;
        }
        &::before {
          content: '';
          position: absolute;
          background-color: #111126;
          width: 100%;
          height: 20%;
          top: 100%;
          border-radius: 100vw;
          filter: blur(35px);
          z-index: -1;
        }
      }
      & figure:nth-of-type(1) {
        transform: var(--img-1-transform);
        filter: var(--img-1-filter);
        opacity: var(--img-1-opacity);
      }
      & figure:nth-of-type(2) {
        transform: var(--img-2-transform);
        filter: var(--img-2-filter);
        opacity: var(--img-2-opacity);
      }
      & figure:nth-of-type(3) {
        transform: var(--img-3-transform);
        filter: var(--img-3-filter);
        opacity: var(--img-3-opacity);
      }
      & figure:nth-of-type(4) {
        transform: var(--img-4-transform);
        filter: var(--img-4-filter);
        opacity: var(--img-4-opacity);
      }
      & figure:nth-of-type(5) {
        transform: var(--img-5-transform);
        filter: var(--img-5-filter);
        opacity: var(--img-5-opacity);
      }
    }
    & .list {
      position: relative;
      width: min(1200px, 90vw);
      height: 100%;
      margin: auto;
    }
    & .item {
      position: absolute;
      inset: 0;
      & .content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;
        z-index: 20;
        & h2 {
          font-size: var(--fs-helname);
          line-height: 1em;
          -webkit-text-stroke: 4px #0b0b0b;
        }
        & .description {
          color: var(--cl-text-accent);
          font-size: var(--fs-description);
          line-height: 1.75rem;
          text-align: right;
          & span {
            text-decoration: underline;
          }
        }
        & .more {
          --_row-height: 40px;
          display: grid;
          grid-template-columns: repeat(2, 120px);
          grid-template-rows: var(--_row-height);
          gap: 20px;
          & button {
            --_transition-speed: 200ms;
            --_hover-opacity: 0.4;
            --_pressed-opacity: 0.15;
            --_hover-blur: 5px;
            --_pressed-blur: 10px;
            --_hover-offset: 0.4rem;
            --_pressed-offset: 0.25rem;

            position: relative;
            border-radius: 30px;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            color: #232442;
            border: none;
            /* background-color: var(--_surface); */
            background-color: transparent;
            & span {
              display: block;
              background-color: hsl(0 0% 100% / 0);
              backdrop-filter: blur(0px);
              padding-block: calc(var(--_row-height) / 4);
              border-radius: inherit;
              transition: background-color var(--_transition-speed),
                backdrop-filter var(--_transition-speed),
                font-weight var(--_transition-speed),
                translate var(--_transition-speed);
            }
            &::after {
              content: '';
              position: absolute;
              inset: 0;
              border-radius: inherit;
              background-color: var(--_surface);
              z-index: -1;
              transition: scale var(--_transition-speed),
                translate var(--_transition-speed);
            }
            &:hover,
            &:focus-visible {
              & span {
                font-weight: bolder;

                background-color: hsl(0 0% 100% / var(--_hover-opacity));
                backdrop-filter: blur(var(--_hover-blur));
                translate: 0 calc(var(--_hover-offset) * -1);
              }
              &::after {
                scale: 0.9;
                translate: 0 0.55rem;
              }
            }
            &:active {
              & span {
                font-weight: normal;
                outline: 1px solid var(--_surface);
                background-color: hsl(0 0% 100% / var(--_pressed-opacity));
                backdrop-filter: blur(var(--_pressed-blur));
                translate: 0 calc(var(--_pressed-offset) * -1);
              }
              &::after {
                scale: 0.85;
                translate: 0 0.55rem;
              }
            }
            &:nth-child(1) {
              --_surface: var(--btn-1-surface);
            }
            &:nth-child(2) {
              --_surface: var(--btn-2-surface);
            }
          }
        }
      }
    }
  }
  & .arrows {
    width: min(1200px, 90vw);
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 100;
    & button {
      width: 50px;
      height: 50px;
      break-before: 50%; /* ? */
      border: 1px solid #659cdf55;
      background-color: #232442;
      color: #fff7;
      border-radius: 100vw;
      font-family: monospace;
      font-size: large;
      pointer-events: auto;
      cursor: pointer;
      transition: color 200ms ease-in-out, border 200ms ease-in-out;
      &:hover,
      &:focus-visible {
        color: var(--cl-text-normal);
        border: 1px solid var(--cl-text-accent);
      }
    }
  }
}

/* animations */
body {
  & .carousel {
    --calculation: 1;
    & .images-wrapper.next {
      & figure:nth-of-type(1) {
        animation: positionImage2 700ms ease-in-out 1 forwards;
      }
      & figure:nth-of-type(2) {
        animation: positionImage3 700ms ease-in-out 1 forwards;
      }
      & figure:nth-of-type(3) {
        animation: positionImage4 700ms ease-in-out 1 forwards;
      }
      & figure:nth-of-type(4) {
        animation: positionImage5 700ms ease-in-out 1 forwards;
      }
      & figure:nth-of-type(5) {
        animation: positionImage1 700ms ease-in-out 1 forwards;
      }
    }
    & .images-wrapper.prev {
      & figure:nth-of-type(1) {
        animation: prevPosImage5 700ms ease-in-out 1 forwards;
      }
      & figure:nth-of-type(2) {
        animation: prevPosImage1 700ms ease-in-out 1 forwards;
      }
      & figure:nth-of-type(3) {
        animation: prevPosImage2 700ms ease-in-out 1 forwards;
      }
      & figure:nth-of-type(4) {
        animation: prevPosImage3 700ms ease-in-out 1 forwards;
      }
      & figure:nth-of-type(5) {
        animation: prevPosImage4 700ms ease-in-out 1 forwards;
      }
    }
    & .list {
      & .item {
        transform: translateX(calc(100vw * var(--calculation)));
        opacity: 0;
        transition: transform 500ms, opacity 500ms;
        & .content {
          & .category,
          h2,
          .description,
          .more {
            /* transform: translateX(calc(200px * var(--calculation))); */
            transform: translateY(-20%);
            opacity: 0;
            transition: transform 700ms, opacity 700ms;
            transition-delay: 300ms;
          }
          & h2 {
            transition-delay: 400ms;
          }
          & .description {
            transition-delay: 600ms;
          }
          & .more {
            transition-delay: 800ms;
          }
        }
        &.active {
          opacity: 1;
          transform: translateX(0);
          & .content {
            & .category,
            h2,
            .description,
            .more {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* Keyframes */
/* Next */
@keyframes positionImage2 {
  from {
    transform: var(--img-2-transform);
    filter: var(--img-2-filter);
    opacity: var(--img-2-opacity);
  }
}

@keyframes positionImage3 {
  from {
    transform: var(--img-3-transform);
    filter: var(--img-3-filter);
    opacity: var(--img-3-opacity);
  }
}

@keyframes positionImage1 {
  from {
    transform: var(--img-1-transform);
    filter: var(--img-1-filter);
    opacity: var(--img-1-opacity);
  }
}

@keyframes positionImage4 {
  from {
    opacity: 0;
  }
}

@keyframes positionImage5 {
  from {
    transform: var(--img-5-transform);
    filter: var(--img-5-filter);
    opacity: var(--img-5-opacity);
  }
}

/* prev */
@keyframes prevPosImage1 {
  from {
    transform: var(--img-1-transform);
    filter: var(--img-1-filter);
    opacity: var(--img-1-opacity);
  }
}

@keyframes prevPosImage2 {
  from {
    transform: var(--img-2-transform);
    filter: var(--img-2-filter);
    opacity: var(--img-2-opacity);
  }
}

@keyframes prevPosImage3 {
  from {
    opacity: 0;
  }
}

@keyframes prevPosImage4 {
  from {
    transform: var(--img-4-transform);
    filter: var(--img-4-filter);
    opacity: var(--img-4-opacity);
  }
}

@keyframes prevPosImage5 {
  from {
    transform: var(--img-5-transform);
    filter: var(--img-5-filter);
    opacity: var(--img-5-opacity);
  }
}

/* Medias */
@media screen and (width < 56.25em) {
  :root {
    --w-column: 150px;
  }

  body {
    & .carousel {
      & .list {
        & .item {
          & .content {
            width: 100%;
            height: 90%;
            justify-content: end;
            align-items: center;
            padding-bottom: 100px;
            & h2 {
              -webkit-text-stroke: 2px #0b0b0b;
            }
            & .description {
              text-align: center;
            }
          }
        }
      }
      & .images-wrapper .helmet-img {
        width: clamp(220px, 35%, 400px);
        /* width: 300px; */
        top: 40%;
        left: 50%;
        translate: -30% 0 0;
      }
    }
    & .arrows {
      width: min(1200px, 80vw);
    }
  }
}

@media screen and (width < 40.625em) {
  body {
    height: 100dvh;
    & header {
      opacity: 0;
    }
    & .header-mobile {
      transform: translate(-50%, -40vh);
      opacity: 1;
      &.show {
        transform: translate(-50%, 0);
      }
    }
  }
}
