
@media (width <=690px) {

    header nav {
        width: 100%;
        height: 100vh;
        background-color: var(--sc-bg);
        padding: 2.5rem 3.1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        transition: 500ms left;
    }

    header nav.click {
        left: 0;
    }

    header nav a {
        display: block;
        font-size: 2.3rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--text-color2);
        margin: 0 0 2.5rem 0;
        padding: 0;
        transition: 300ms ease-in-out;

        &:hover,
        &:focus {
            color: var(--hl-color1);
        }
    }

    header nav a:first-child {
        margin-top: 1rem;
    }

    header nav a:before,
    header nav a:after {
        content: none;
    }

    .hamb {
        top: 3.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }

    .hamb i {
        color: var(--text-color1);
        font-size: 2rem;
        padding: 0;
        cursor: pointer;
    }

    .hamb #close {
        display: none;
        color: var(--text-color2);
    }

}

@media (width <=540px) {

    header .logo img {
        width: 5rem;
        height: auto;
    }

    header nav a {
        font-size: 2rem;
    }

    header nav a:first-child {
        margin-top: .5rem;
    }

    .hamb {
        top: 2.9rem;
    }

    .hamb i {
        font-size: 1.8rem;
    }

}

@media (width <=540px) and (height <=580px) and (orientation=landscape) {

    .container {
        overflow: hidden;
    }

    header .logo img {
        width: 4rem;
        height: auto;
    }

    header nav a {
        font-size: 1rem;
    }

    header nav a:first-child {
        margin-top: .5rem;
    }

    .hamb {
        display: none;
    }

}