@media (width <= 940px) {
    .hero .mid h2 {
        font-size: 18rem;
        }

    .hero .mid img {
        width: 28.1rem;
    }

    .hero .mid :is(.astral-img, .meteor-img) {
        width: 23rem;
        height: auto;
    }

    .left-side .scard {
        font-size: 1.3rem;
    }

    .hero .bottom a {
        font-size: 1rem;
    }
}

@media (width <= 840px) {
    .hero .mid h2 {
        font-size: 15rem;
        top: 40%;
    }
    
    .hero .mid img {
        width: 23.7rem;
        top: 40%;
    }

    .hero .mid :is(.astral-img, .meteor-img) {
        width: 20rem;
        height: auto;
    }
    
    .hamb {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }

    .hamb i {
        color: var(--text-color1);
        font-size: 2rem;
        padding: 0;
        cursor: pointer;
    }

    .hamb #close {
        display: none;
        color: var(--text-color2);
    }

    header nav {
        width: 100%;
        height: 100vh;
        background-color: var(--sc-bg);
        padding: 2.5rem 3.1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        transition: 500ms left;
    }

    header nav.click {
        left: 0;
    }

    header nav a {
        display: block;
        font-size: 2.3rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--text-color2);
        margin: 0 0 2.5rem 0;
        padding: 0;
        transition: 300ms ease-in-out;
        &:hover, 
        &:focus {
            color: var(--hl-color1);
        }
    }

    header nav a:first-child {
        margin-top: 1rem;
    }

        header nav a:before,
        header nav a:after {
            content: none;
    }

}

@media (width <= 690px) {
    .hero .mid h2 {
        font-size: 10rem;
        top: 25%;
    }

    .hero .mid img {
        width: 18.7rem;
        top: 75%;
    }

    .hero .mid :is(.astral-img, .meteor-img) {
        width: 14rem;
        height: auto;
    }

    .left-side .scard {
        font-size: 1rem;
    }

    .hero .bottom a {
        position: relative;
        font-size: .8rem;
        letter-spacing: 1.2px;
        color: var(--text-color1);
        border: 1px solid var(--hl-color1);
        border-radius: 5px;
        padding: 6px 14px;
        overflow: hidden;
    }
}

@media (width <= 540px) {

    header .logo img {
        width: 5rem;
        height: auto;
    }

    .hero .mid h2 {
        font-size: 7rem;
        top: 35%;
    }

    .hero .mid img {
        width: 13.7rem;
    }

    .hero .mid :is(.astral-img, .meteor-img) {
        width: 10.5rem;
        height: auto;
    }

    .hero .container {
        padding: 10vh 0 6.25rem;
    }

    .hamb {
        top: 3.2rem;
    }

}