@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & img {
    display: block;
    max-width: 100%;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}

:root {
  /* colors */
  --cl-text-normal: #f3f3f3;
  --cl-text-accent: #69c5fa;
  --btn-1-surface: #69c5fa;
  --btn-2-surface: #f3f3f3;
  --hl-color1: #69c5fa;
  --hl-color2: #00d9ff;
  /* sizes */
  --w-column: 200px;
  /* font */
  --fs-helname: clamp(3rem, 1.9626168224299065rem + 4.4859813084112155vw, 6rem);
  --fs-description: clamp(
    0.8rem,
    0.6789719626168225rem + 0.5233644859813082vw,
    1.15rem
  );
}

body {
  height: 100dvh;
  background-color: #232442;
  color: var(--cl-text-normal);
  font-family: 'Poppins', sans-serif;
  /** Header */
  & header {
    position: fixed;
    width: min(1200px, 70vw);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: color 200ms ease-in-out, opacity 800ms ease-in-out;
    & .logo {
      & img {
        width: 100px;
        aspect-ratio: 1;
      }
    }
    & nav {
      width: 60%;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      & a {
        position: relative;
        width: fit-content;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        &.active {
          color: var(--cl-text-accent);
          &:before {
            right: 50%;
          }
          &:after {
            left: 50%;
          }
        }
        &:hover {
          color: var(--cl-text-accent);
        }
        &:before {
          content: '';
          position: absolute;
          height: 10%;
          bottom: 0;
          left: 0;
          right: 100%;
          height: 10%;
          background-color: var(--cl-text-accent);
          transition: 300ms right ease-in-out;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          left: 100%;
          height: 10%;
          background-color: var(--cl-text-accent);
          transition: 300ms left ease-in-out;
        }
        &:hover:before,
        &:focus-visible:before {
          right: 50%;
        }
        &:hover:after,
        &:focus-visible:after {
          left: 50%;
        }
      }
    }
  }
  /** Header mobile */
  & .header-mobile {
    width: min(1200px, 100vw);
    position: fixed;
    left: 50%;
    transform: translate(-50%, -100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    place-items: center;
    background-color: #f3f3f32d;
    backdrop-filter: blur(15px);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    opacity: 0;
    transition: opacity 700ms ease-in-out, transform 700ms ease-in-out;
    & .logo {
      & .logo-mobile {
        display: block;
      }
    }
    & .menu {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      & i {
        font-size: 3rem;
        color: var(--cl-text-normal);
        transition: color 200ms ease-in-out;
        &:hover,
        &:focus-visible {
          color: var(--cl-text-accent);
        }
        &.hidden {
          display: none;
        }
      }
    }
    & nav {
      width: 80%;
      height: 40vh;
      height: 40svh;
      grid-column: 1/-1;
      grid-row: 1/2;
      flex-direction: column;
      justify-content: space-evenly;
      & a {
        font-size: 2rem;
      }
    }
  }
}

/** Cards */
.wrapper {
  position: relative;
  padding-top: 100px;
  width: min(1200px, 70vw);
  height: 100vh;
  margin-inline: auto;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  place-items: center;
  gap: 3vh;
}

.wrapper .wrapper__card {
  position: relative;
  width: clamp(15rem, 20vw, 16rem);
  height: clamp(18rem, 30vw, 22rem);
  box-shadow: 8px 8px 20px #69c5fa3f;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--hl-color1);
  border-left: 1px solid var(--hl-color1);
  border-right: 1px solid #2e6686;
  border-bottom: 1px solid #2e6686;
}

.wrapper-one {
  opacity: 0;
  filter: blur(15px);
  animation: show 700ms 600ms ease-in forwards;
}

.wrapper-two {
  opacity: 0;
  filter: blur(15px);
  animation: show 700ms 800ms ease-in forwards;
}

.wrapper-three {
  opacity: 0;
  filter: blur(15px);
  grid-column: span 2;
  animation: show 700ms 1000ms ease-in forwards;
}

.wrapper-four {
  opacity: 0;
  filter: blur(15px);
  animation: show 700ms 1200ms ease-in forwards;
}

.wrapper-five {
  opacity: 0;
  filter: blur(15px);
  animation: show 700ms 1400ms ease-in forwards;
}

.card__content {
  position: relative;
  background-color: #69c5fa18;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  width: 100%;
  height: 100%;
  text-align: left;
}

.card__content h2 {
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 2%;
  right: 5%;
  pointer-events: none;
}

.card__img {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 80%;
  aspect-ratio: 1;
  animation: float 4000ms ease-in-out infinite;
}

.card-text {
  --padding: 0.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.336),
    rgba(0, 0, 0, 0.452)
  ); */
  height: 50%;
  padding: var(--padding);
  transform: translateY(55%);
  transform-origin: bottom;
  transition: all 400ms ease-in-out;
}

.wrapper__card:hover .card-text,
.wrapper__card:focus .card-text {
  transform: translateY(0);
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.466),
    rgba(0, 0, 0, 0.452)
  );
  backdrop-filter: blur(5px);
}

.card-text .card-title {
  position: relative;
  width: max-content;
  margin-bottom: clamp(0.8rem, 1.2vw, 1.2rem);
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  color: var(--hl-color2);
}

.card-title::after {
  content: '';
  height: 3px;
  width: calc(100% + var(--padding));
  background-color: var(--hl-color2);
  position: absolute;
  bottom: 0;
  left: calc(var(--padding) * -1);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms 500ms;
}

.wrapper__card:hover .card-title::after,
.wrapper__card:focus .card-title::after {
  transform: scaleX(1);
}

.card-text p {
  color: var(--hl-color2);
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

.card-text a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color1);
  align-self: flex-end;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  font-weight: 600;
  padding-block: minmax(4px, 5px);
  padding-inline: 8px;
  border: 1px solid var(--hl-color2);
  border-radius: 5px;
}

/* Float */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes show {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@media screen and (width < 46.87em) {
  body {
    height: 100dvh;
    & header {
      opacity: 0;
    }
    & .header-mobile {
      transform: translate(-50%, -40vh);
      opacity: 1;
      &.show {
        transform: translate(-50%, 0);
      }
    }
    & .wrapper {
      grid-template-columns: 1fr;
      & .wrapper__card {
        width: 16rem;
        height: 22rem;
      }
      & .wrapper-three {
        grid-column: span 1;
      }
    }
  }
}
