@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Reset */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --pr-bg1: #212121;
    --pr-bg2: #383235;
    --sc-bg: #111111;
    --hl-color1: #4EA5D9;
    --hl-color2: #4BA3C3;
    --hl-color3: #00C2D1;
    --text-color1: #f4f4f4;
}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    position: relative;
}

h1, h2 {
    line-height: 1.1;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.container {
    width: 80rem;
    max-width: 95%;
    margin: 0 auto;
}

/*  Header */

header {
    width: 100%;
    height: auto;
    padding: 1.8rem 0 1.25rem;
    background-color: transparent;
    position: absolute; /*  */
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-width: 8rem;
}

header .logo img {
    width: 6.5rem;
    height: auto;
}

header nav a {
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color1);
    margin: 0 12px;
    padding: 0 8px 5px;
    position: relative;
    transition: 300ms ease-in-out;
}

header nav a:hover {
    color: var(--hl-color1);
}

header nav a:before {
    content: '';
    border-bottom: 2px solid var(--hl-color1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: 300ms right ease-in-out;
}

header nav a:after {   
    content: '';
    border-bottom: 2px solid var(--hl-color1);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 100%;
    transition: 300ms left ease-in-out;
}

header nav a:hover:before,
header nav a:focus:before {
    right: 50%;
}

header nav a:hover:after,
header nav a:focus:after {
    left: 50%;
}

header .action button {
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color1);
    cursor: pointer;
}

header .action button i {
    font-size: 1.5rem;
    color: var(--text-color1);
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--pr-bg1);
    background-image: linear-gradient(95deg, var(--sc-bg), var(--pr-bg1));
    position: relative;
}

.hero .container {
    min-height: 100%;
    position: relative;
    padding: 25vh 0 6.25rem;
}

.hero .container .mid {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    height: 37.5rem;
    position: relative;
}

.hero .mid h2 {
    font-size: 20rem;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-stroke: 3px var(--hl-color1);
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.hero .mid img {
    width: 31.2rem;
    height: auto;
    filter: drop-shadow(0 0 5px var(--text-color1));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: slide 800ms ease-in-out;
}

@keyframes slide {
    10% {
        opacity: 0;
        transform: translateY(-120px) translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) translate(-50%, -50%);
    }
}

.hero .bottom {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.hero .bottom a {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    color: var(--hl-color1);
}

.hero .bottom a:hover,
.hero .bottom a:focus {
    color: var(--hl-color3);
}
